.row.footer-background
  .col-md-12.contact-div.text-center
    a.no-decoration(href='/')
      img.logo-footer(src='/logo.png')
      h3.banner-text
        span.orange Premium
        |  Hotels
    .contact-footer
      p
        | Rawabi Q-Center, Palestine DO45 B123
      p
      h6
        i.fa.fa-phone
        |  800-2345-6789
      .margin-bottom
        a(href='#')
          i.fa.fa-google-plus.social
        a(href='#')
          i.fa.fa-twitter.social
        a(href='#')
          i.fa.fa-facebook.social
      p © Copyright 2017 Premium Hotels
