extends layout

block content
  // contact cards
  .row
    .col-lg-12.text-center
      h3
        i.fa.fa-address-book(aria-hidden='true')
        |  Who We Are
      hr
  .col-lg-4
    .card.contact-card
      img.contact-pic(src='User1.jpg', alt='Omar Shabaro')
      h1 Omar Shabaro
      p.contact-title CEO & Co-Founder
      p Najah University
      .spacing
        a.contact-achor(href='#')
          i.fa.fa-dribbble
        a.contact-achor(href='#')
          i.fa.fa-twitter
        a.contact-achor(href='#')
          i.fa.fa-linkedin
        a.contact-achor(href='#')
          i.fa.fa-facebook
      p
        button.contact-btn Contact
  .col-lg-4
    .card.contact-card
      img.contact-pic(src='User2.jpg', alt='Ahmad Khalaf')
      h1 Ahmad Khalaf
      p.contact-title CTO & Co-Founder
      p Najah University
      .spacing
        a.contact-achor(href='#')
          i.fa.fa-dribbble
        a.contact-achor(href='#')
          i.fa.fa-twitter
        a.contact-achor(href='#')
          i.fa.fa-linkedin
        a.contact-achor(href='#')
          i.fa.fa-facebook
      p
        button.contact-btn Contact
  .col-lg-4
    .card.contact-card
      img.contact-pic(src='User3.jpg', alt='Majd Qumseya')
      h1 Majd Qumseya
      p.contact-title Employee
      p European University
      .spacing
        a.contact-achor(href='#')
          i.fa.fa-dribbble
        a.contact-achor(href='#')
          i.fa.fa-twitter
        a.contact-achor(href='#')
          i.fa.fa-linkedin
        a.contact-achor(href='#')
          i.fa.fa-facebook
      p
        button.contact-btn Contact
  .about-container
    .row
      .col-lg-12
        h3.text-center
          i.fa.fa-address-card(aria-hidden='true')
          |  What We Do
        hr
    .row
      .col-lg-4.text-center
        h4
          i.fa.fa-certificate(aria-hidden='true')
          |  Services
        hr
        ul.about-list
          li
            i.fa.fa-code(aria-hidden='true')
            |     Website Development
          li
            i.fa.fa-share-alt(aria-hidden='true')
            |  Networking Applications
          li
            i.fa.fa-cloud(aria-hidden='true')
            |  Cloud-Based Hosting
      .col-lg-4.text-center
        h4
          i.fa.fa-cubes(aria-hidden='true')
          |     Products
        hr
        ul.about-list
          li
            i.fa.fa-cog(aria-hidden='true')
            |  Mellanox Switches & Routers
          li
            i.fa.fa-link(aria-hidden='true')
            |     Cisco Cables and Ethernet
          li
            i.fa.fa-microchip(aria-hidden='true')
            |  Microproccessing Units
      .col-lg-4.text-center
        h4
          i.fa.fa-handshake-o(aria-hidden='true')
          |  Support
        hr
        ul.about-list
          li
            i.fa.fa-bell(aria-hidden='true')
            |  Remote and Local Coverage
          li
            i.fa.fa-clock-o(aria-hidden='true')
            |  24/7 Around the Clock
          li
            i.fa.fa-calendar(aria-hidden='true')
            |  6 Month Support